* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body, html {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}

body {
  Background: #17191C;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialized;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

textarea, input {
  outline: none;
}

.bold {
  font-weight: bold;
  color: #000;
}

.orange {
  color: #ff5500;
}

.container {
  margin: 0 auto;
  width: 1142px;
}

.footer {
  margin-top: auto;
}